# Data Preprocessing

In [1]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

#set up connection to databse
from sqlalchemy import create_engine


protocol = 'postgresql'
username = 'postgres'
password = 'administrator'
host = 'wine.corp16oy9wyq.us-east-1.rds.amazonaws.com'
port = 5432
database = 'wine'

rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database}'
        
engine = create_engine(rds_connection_string)
conn = engine.connect()

In [2]:
#Retrieve Data from RDS SQL Database
data = pd.read_sql("SELECT * FROM wine_data", conn)
data.head()

,wine_id,country,description,designation,points,price,province,region_1,region_2,taster_name,...,max_temp,precip,humidity,heat_index,latitude_y,longitude_y,elevation,review_neg,review_neu,review_pos
0,0,US,"Tart and snappy, the flavors of lime flesh and...",None,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,...,114.0,37.43,70.76,109.6,45.505794,-122.781770,126.0,0.053,0.947,0.000
1,1,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,...,109.5,33.85,74.73,113.8,43.956731,-123.279126,216.0,0.000,0.805,0.195
2,2,US,This bright and spicy wine refreshes with pala...,None,90,16.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,...,109.5,33.85,74.73,113.8,43.956731,-123.279126,216.0,0.000,0.909,0.091
3,3,US,"Full-bodied and forward, this offers fruit fla...",Vintner's Reserve,87,45.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,...,109.5,33.85,74.73,113.8,43.956731,-123.279126,216.0,0.127,0.873,0.000
4,4,US,This estate-grown Pinot is still pretty rough ...,None,85,25.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,...,109.5,33.85,74.73,113.8,43.956731,-123.279126,216.0,0.000,0.894,0.106

# Machine Learning

# Saving Model