<a href="https://colab.research.google.com/github/miatsivitse/Project-4/blob/miatsivitse/Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preprocessing

In [1]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

#set up connection to databse
from sqlalchemy import create_engine


protocol = 'postgresql'
username = 'ENTER USER'
password = 'ENTER PW'
host = 'wine.corp16oy9wyq.us-east-1.rds.amazonaws.com'
port = 5432
database = 'wine'

rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database}'
        
engine = create_engine(rds_connection_string)
conn = engine.connect()

In [2]:
#Retrieve Data from RDS SQL Database
data = pd.read_sql("SELECT * FROM wine_data", conn)
data.head()

,wine_id,country,description,designation,points,price,province,region_1,region_2,taster_name,...,max_temp,precip,humidity,heat_index,latitude_y,longitude_y,elevation,review_neg,review_neu,review_pos
0,1,US,"Overripe and Porty, with raisin, prune and cho...",Reserve,81,37.0,California,Paso Robles,Central Coast,None,...,100.4,7.94,65.69,101.7,33.343447,-117.203325,190.0,0.000,0.829,0.171
1,2,US,"Strong aromas of blueberry paste, cracked pepp...",Paso Bordo Reserve,92,69.0,California,Paso Robles,Central Coast,Matt Kettmann,...,100.4,7.94,65.69,101.7,33.343447,-117.203325,190.0,0.000,0.805,0.195
2,3,US,A vegetal note drags down the enjoyment. On th...,Reserve,84,39.0,California,Paso Robles,Central Coast,None,...,100.4,7.94,65.69,101.7,33.343447,-117.203325,190.0,0.129,0.710,0.162
3,4,US,Larry Stanton patiently waits to release the w...,La Terraza Bloc Reserve,93,59.0,California,Paso Robles,Central Coast,Matt Kettmann,...,100.4,7.94,65.69,101.7,33.343447,-117.203325,190.0,0.039,0.865,0.096
4,5,US,"High alcohol gives the wine heat, especially i...",La Tertazza Bloc Reserve,85,39.0,California,Paso Robles,Central Coast,None,...,100.4,7.94,65.69,101.7,33.343447,-117.203325,190.0,0.000,0.895,0.105

In [3]:
print(data.nunique())

wine_id                  48847
country                      1
description              45206
designation              12744
points                      21
price                      158
province                     4
region_1                   201
region_2                    17
taster_name                 13
taster_twitter_handle       12
title                    45026
variety                    252
winery_name               4803
latitude_x                3032
longitude_x               3000
min_temp                   360
max_temp                   261
precip                    1564
humidity                  1306
heat_index                 242
latitude_y                2973
longitude_y               3185
elevation                  936
review_neg                 254
review_neu                 476
review_pos                 465
dtype: int64

In [4]:
data.drop(["wine_id", "country", "description", "designation","taster_name", "latitude_y", "longitude_y", "taster_twitter_handle", "title" ], axis=1, inplace=True)
data.head()

,points,price,province,region_1,region_2,variety,winery_name,latitude_x,longitude_x,min_temp,max_temp,precip,humidity,heat_index,elevation,review_neg,review_neu,review_pos
0,81,37.0,California,Paso Robles,Central Coast,Merlot,Cerro Prieto winery,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.0,0.000,0.829,0.171
1,92,69.0,California,Paso Robles,Central Coast,Cabernet Sauvignon,Cerro Prieto winery,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.0,0.000,0.805,0.195
2,84,39.0,California,Paso Robles,Central Coast,Pinot Noir,Cerro Prieto winery,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.0,0.129,0.710,0.162
3,93,59.0,California,Paso Robles,Central Coast,Syrah,Cerro Prieto winery,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.0,0.039,0.865,0.096
4,85,39.0,California,Paso Robles,Central Coast,Syrah,Cerro Prieto winery,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.0,0.000,0.895,0.105

In [5]:
#create bins for price ranges
def price_to_range(price): 
  if (price < 20): 
    return 0 
  elif (price >20) and (price <= 45):
    return 1
  if (price >45) and (price <= 80):
    return 2 
  if (price >80) and (price <= 100):
    return 3
  if (price >140) and (price <= 300): 
    return 4
  else: 
    return 5
  
data["price"] = data["price"].apply(price_to_range)
data = data.rename(columns={"price": "price_range"})
data.head()

,points,price_range,province,region_1,region_2,variety,winery_name,latitude_x,longitude_x,min_temp,max_temp,precip,humidity,heat_index,elevation,review_neg,review_neu,review_pos
0,81,1,California,Paso Robles,Central Coast,Merlot,Cerro Prieto winery,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.0,0.000,0.829,0.171
1,92,2,California,Paso Robles,Central Coast,Cabernet Sauvignon,Cerro Prieto winery,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.0,0.000,0.805,0.195
2,84,1,California,Paso Robles,Central Coast,Pinot Noir,Cerro Prieto winery,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.0,0.129,0.710,0.162
3,93,2,California,Paso Robles,Central Coast,Syrah,Cerro Prieto winery,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.0,0.039,0.865,0.096
4,85,1,California,Paso Robles,Central Coast,Syrah,Cerro Prieto winery,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.0,0.000,0.895,0.105

In [6]:
def points_to_range(points): 
  if (points >= 90):
    return 0
  else: 
    return 1
  
data["points"] = data["points"].apply(points_to_range)
data = data.rename(columns={"points": "point_range"})
data.head()

,point_range,price_range,province,region_1,region_2,variety,winery_name,latitude_x,longitude_x,min_temp,max_temp,precip,humidity,heat_index,elevation,review_neg,review_neu,review_pos
0,1,1,California,Paso Robles,Central Coast,Merlot,Cerro Prieto winery,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.0,0.000,0.829,0.171
1,0,2,California,Paso Robles,Central Coast,Cabernet Sauvignon,Cerro Prieto winery,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.0,0.000,0.805,0.195
2,1,1,California,Paso Robles,Central Coast,Pinot Noir,Cerro Prieto winery,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.0,0.129,0.710,0.162
3,0,2,California,Paso Robles,Central Coast,Syrah,Cerro Prieto winery,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.0,0.039,0.865,0.096
4,1,1,California,Paso Robles,Central Coast,Syrah,Cerro Prieto winery,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.0,0.000,0.895,0.105

In [7]:
variety_values = data["variety"].value_counts()
variety_value_counts = variety_values[variety_values > 100]
variety_value_counts

Pinot Noir                  8868
Cabernet Sauvignon          6811
Chardonnay                  6241
Syrah                       2978
Red Blend                   2548
Zinfandel                   2515
Merlot                      2137
Sauvignon Blanc             1891
Bordeaux-style Red Blend    1664
Riesling                    1550
Cabernet Franc               830
Pinot Gris                   764
RosÃ©                        701
RhÃ´ne-style Red Blend       649
Petite Sirah                 643
Viognier                     640
Sparkling Blend              608
White Blend                  523
Malbec                       491
Grenache                     489
Sangiovese                   365
Pinot Grigio                 321
Tempranillo                  299
GewÃ¼rztraminer              279
Meritage                     215
Barbera                      203
RhÃ´ne-style White Blend     198
MourvÃ¨dre                   181
Pinot Blanc                  178
Petit Verdot                 171
G-S-M                        138
Roussanne                    123
Grenache Blanc               115
AlbariÃ±o                    109
Name: variety, dtype: int64

In [8]:
# Choose a cutoff value and create a list of varieties to be replaced
cutoff = 1500
variety_types_to_replace = list(variety_values[variety_values <= cutoff].index)

# Replace in dataframe
for variety in variety_types_to_replace:
   data['variety'] = data['variety'].replace(variety,"Other")

# Check to make sure binning was successful
data['variety'].value_counts()

Other                       11644
Pinot Noir                   8868
Cabernet Sauvignon           6811
Chardonnay                   6241
Syrah                        2978
Red Blend                    2548
Zinfandel                    2515
Merlot                       2137
Sauvignon Blanc              1891
Bordeaux-style Red Blend     1664
Riesling                     1550
Name: variety, dtype: int64

In [9]:
winery_values = data["winery_name"].value_counts()
winery_value_counts = winery_values[winery_values > 100]
winery_value_counts

Testarossa winery               217
Williams Selyem winery          198
Chateau Ste. Michelle winery    193
Columbia Crest winery           158
Siduri winery                   126
Gary Farrell winery             125
Kendall-Jackson winery          118
Lynmar winery                   118
Robert Mondavi winery           112
Fess Parker winery              108
Iron Horse winery               106
Foxen winery                    103
Maryhill winery                 102
Chehalem winery                 102
Kunde winery                    101
Name: winery_name, dtype: int64

In [10]:
data.drop(['winery_name'], axis=1, inplace=True)
data.columns

Index(['point_range', 'price_range', 'province', 'region_1', 'region_2',
       'variety', 'latitude_x', 'longitude_x', 'min_temp', 'max_temp',
       'precip', 'humidity', 'heat_index', 'elevation', 'review_neg',
       'review_neu', 'review_pos'],
      dtype='object')

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
X_dummies = pd.get_dummies(data)
X_dummies

,point_range,price_range,latitude_x,longitude_x,min_temp,max_temp,precip,humidity,heat_index,elevation,...,variety_Cabernet Sauvignon,variety_Chardonnay,variety_Merlot,variety_Other,variety_Pinot Noir,variety_Red Blend,variety_Riesling,variety_Sauvignon Blanc,variety_Syrah,variety_Zinfandel
0,1,1,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.000,...,0,0,1,0,0,0,0,0,0,0
1,0,2,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.000,...,1,0,0,0,0,0,0,0,0,0
2,1,1,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.000,...,0,0,0,0,1,0,0,0,0,0
3,0,2,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.000,...,0,0,0,0,0,0,0,0,1,0
4,1,1,33.343447,-117.203325,34.4,100.4,7.94,65.69,101.7,190.000,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48842,1,1,47.766300,-122.148337,15.4,102.5,27.15,74.02,105.2,0.115,...,0,0,0,1,0,0,0,0,0,0
48843,1,5,46.068561,-118.342366,-0.9,115.0,16.61,57.52,106.4,0.073,...,0,0,0,0,0,0,0,1,0,0
48844,1,1,46.557883,-120.660862,2.0,112.9,6.90,57.53,107.1,0.197,...,0,0,0,1,0,0,0,0,0,0
48845,1,5,46.003999,-118.371124,-0.8,114.5,17.07,57.74,106.0,0.103,...,0,0,0,0,0,1,0,0,0,0
48846,0,2,46.584583,-120.530667,2.0,113.0,6.89,57.78,107.5,0.121,...,0,0,0,1,0,0,0,0,0,0

In [12]:
# Split our preprocessed data into our features and target arrays
X = X_dummies.drop('point_range',axis=1).values
y = data['point_range'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
len(X_train[0])

245

# Machine Learning

In [15]:
input_features = len(X_train[0])
hidden_layer1 = 400
hidden_layer2= 100
# nodes3 =
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer1, activation="relu", input_dim=input_features))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer2, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 400)               98400

 dense_1 (Dense)             (None, 100)               40100

 dense_2 (Dense)             (None, 1)                 101

=================================================================
Total params: 138,601
Trainable params: 138,601
Non-trainable params: 0
_________________________________________________________________

In [16]:
# # Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# # Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
1145/1145 [==============================] - 6s 4ms/step - loss: 0.5898 - accuracy: 0.6849
Epoch 2/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.5499 - accuracy: 0.7149
Epoch 3/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.5407 - accuracy: 0.7206
Epoch 4/100
1145/1145 [==============================] - 5s 5ms/step - loss: 0.5344 - accuracy: 0.7249
Epoch 5/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.5287 - accuracy: 0.7280
Epoch 6/100
1145/1145 [==============================] - 4s 4ms/step - loss: 0.5255 - accuracy: 0.7321
Epoch 7/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.5204 - accuracy: 0.7327
Epoch 8/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.5181 - accuracy: 0.7336
Epoch 9/100
1145/1145 [==============================] - 4s 4ms/step - loss: 0.5145 - accuracy: 0.7368
Epoch 10/100
1145/1145 [==============================] - 7s 6ms/step - loss: 0.5097 - accuracy: 0.7387
Epoch 11/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.5065 - accuracy: 0.7401
Epoch 12/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.5028 - accuracy: 0.7456
Epoch 13/100
1145/1145 [==============================] - 4s 4ms/step - loss: 0.5010 - accuracy: 0.7452
Epoch 14/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4963 - accuracy: 0.7481
Epoch 15/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.4941 - accuracy: 0.7480
Epoch 16/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4904 - accuracy: 0.7515
Epoch 17/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.4879 - accuracy: 0.7518
Epoch 18/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4846 - accuracy: 0.7534
Epoch 19/100
1145/1145 [==============================] - 5s 5ms/step - loss: 0.4811 - accuracy: 0.7552
Epoch 20/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.4784 - accuracy: 0.7570
Epoch 21/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4744 - accuracy: 0.7614
Epoch 22/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.4726 - accuracy: 0.7611
Epoch 23/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4689 - accuracy: 0.7626
Epoch 24/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4678 - accuracy: 0.7638
Epoch 25/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.4641 - accuracy: 0.7643
Epoch 26/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4607 - accuracy: 0.7671
Epoch 27/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.4585 - accuracy: 0.7693
Epoch 28/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4556 - accuracy: 0.7702
Epoch 29/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4528 - accuracy: 0.7720
Epoch 30/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.4501 - accuracy: 0.7717
Epoch 31/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4476 - accuracy: 0.7749
Epoch 32/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.4458 - accuracy: 0.7771
Epoch 33/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4425 - accuracy: 0.7776
Epoch 34/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4408 - accuracy: 0.7763
Epoch 35/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.4393 - accuracy: 0.7790
Epoch 36/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4362 - accuracy: 0.7794
Epoch 37/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.4338 - accuracy: 0.7808
Epoch 38/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.4307 - accuracy: 0.7822
Epoch 39/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4291 - accuracy: 0.7843
Epoch 40/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.4262 - accuracy: 0.7824
Epoch 41/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4236 - accuracy: 0.7866
Epoch 42/100
1145/1145 [==============================] - 5s 5ms/step - loss: 0.4224 - accuracy: 0.7872
Epoch 43/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4220 - accuracy: 0.7862
Epoch 44/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4165 - accuracy: 0.7883
Epoch 45/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.4184 - accuracy: 0.7895
Epoch 46/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4134 - accuracy: 0.7898
Epoch 47/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4125 - accuracy: 0.7906
Epoch 48/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4098 - accuracy: 0.7916
Epoch 49/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4092 - accuracy: 0.7918
Epoch 50/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.4079 - accuracy: 0.7953
Epoch 51/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4054 - accuracy: 0.7951
Epoch 52/100
1145/1145 [==============================] - 8s 7ms/step - loss: 0.4045 - accuracy: 0.7941
Epoch 53/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4022 - accuracy: 0.7985
Epoch 54/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.4006 - accuracy: 0.7973
Epoch 55/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.3989 - accuracy: 0.7973
Epoch 56/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3997 - accuracy: 0.7969
Epoch 57/100
1145/1145 [==============================] - 5s 5ms/step - loss: 0.3948 - accuracy: 0.7991
Epoch 58/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3934 - accuracy: 0.8003
Epoch 59/100
1145/1145 [==============================] - 4s 4ms/step - loss: 0.3920 - accuracy: 0.8012
Epoch 60/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.3922 - accuracy: 0.8017
Epoch 61/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3894 - accuracy: 0.8028
Epoch 62/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3890 - accuracy: 0.8025
Epoch 63/100
1145/1145 [==============================] - 5s 5ms/step - loss: 0.3859 - accuracy: 0.8040
Epoch 64/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3852 - accuracy: 0.8052
Epoch 65/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.3822 - accuracy: 0.8059
Epoch 66/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3824 - accuracy: 0.8061
Epoch 67/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3808 - accuracy: 0.8080
Epoch 68/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.3802 - accuracy: 0.8084
Epoch 69/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3791 - accuracy: 0.8064
Epoch 70/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.3774 - accuracy: 0.8114
Epoch 71/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.3778 - accuracy: 0.8091
Epoch 72/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3741 - accuracy: 0.8111
Epoch 73/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.3738 - accuracy: 0.8112
Epoch 74/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3748 - accuracy: 0.8108
Epoch 75/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.3706 - accuracy: 0.8140
Epoch 76/100
1145/1145 [==============================] - 4s 4ms/step - loss: 0.3687 - accuracy: 0.8121
Epoch 77/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3711 - accuracy: 0.8117
Epoch 78/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.3684 - accuracy: 0.8156
Epoch 79/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3673 - accuracy: 0.8141
Epoch 80/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.3646 - accuracy: 0.8151
Epoch 81/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3651 - accuracy: 0.8182
Epoch 82/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3621 - accuracy: 0.8164
Epoch 83/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.3632 - accuracy: 0.8175
Epoch 84/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3605 - accuracy: 0.8187
Epoch 85/100
1145/1145 [==============================] - 5s 5ms/step - loss: 0.3575 - accuracy: 0.8188
Epoch 86/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3583 - accuracy: 0.8190
Epoch 87/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3580 - accuracy: 0.8210
Epoch 88/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.3555 - accuracy: 0.8202
Epoch 89/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3565 - accuracy: 0.8213
Epoch 90/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.3560 - accuracy: 0.8217
Epoch 91/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3543 - accuracy: 0.8213
Epoch 92/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3534 - accuracy: 0.8223
Epoch 93/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.3511 - accuracy: 0.8244
Epoch 94/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3506 - accuracy: 0.8238
Epoch 95/100
1145/1145 [==============================] - 5s 5ms/step - loss: 0.3495 - accuracy: 0.8257
Epoch 96/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3490 - accuracy: 0.8248
Epoch 97/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3459 - accuracy: 0.8252
Epoch 98/100
1145/1145 [==============================] - 6s 5ms/step - loss: 0.3452 - accuracy: 0.8246
Epoch 99/100
1145/1145 [==============================] - 5s 4ms/step - loss: 0.3478 - accuracy: 0.8269
Epoch 100/100
1145/1145 [==============================] - 5s 5ms/step - loss: 0.3435 - accuracy: 0.8277

In [19]:
# # Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

382/382 - 2s - loss: 0.9092 - accuracy: 0.7081 - 2s/epoch - 5ms/step
Loss: 0.9091743230819702, Accuracy: 0.7080740332603455

# Saving Model

In [ ]:
# Export our model to HDF5 file
nn.save('../WineMLModel.h5')